.editor-container {
  position: fixed;
  background-color: var(--surface0);
  right: 0;
  top: 0;
  height: calc(100vh - (16px * 2));
  width: 50%;

  padding: 16px;

  display: grid;
  grid-template-rows: 1fr auto;
  overflow: auto;
}

.editor {
  height: 100%;
  border: 1px solid var(--surface0);
  border-radius: 11px;
}

.submit-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

select {
  font-size: 16px;
  font-weight: 600;

  padding: 8px;
  background-color: var(--surface0);
  color: var(--text);
  border: 3px solid var(--surface1); 
  border-radius: 3px;
}

input[type=file] {
  display: none;
}

label[for=select-what-send] {
  padding: 8px;
  background-color: var(--surface0);
  color: var(--text);
  border: 3px solid var(--surface1); 
  border-radius: 3px;
}

.send {
  background-color: var(--green);
  color: var(--base);
  font-weight: 600; 
}

.send:disabled {
  background-color: var(--overlay0);
}

@media (width < 900px) {
  .editor-container {
    width: calc(100vw - (16px * 2));
  }
}

@media (width < 600px) {
  .submit-menu {
    grid-template-columns: 1fr;
  }
}
