.editor-container {
  position: absolute;
  background-color: var(--surface0);
  right: 0;
  top: 0;
  height: calc(100vh - (16px * 2));
  width: 50%;

  padding: 16px;

  display: grid;
  grid-template-rows: 1fr auto;
}

.close {
  position: absolute;
  right: 17px;
  top: 17px;
  z-index: 999;
  background-color: var(--surface1);
  line-height: 0%;
  transition: background-color 0.25s;
}

.close:hover {
  background-color: var(--red);
}

.editor {
  height: 100%;
  border: 1px solid var(--surface0);
  border-radius: 11px;
}

.submit-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

select {
  font-size: 16px;
  font-weight: 600;

  padding: 8px;
  background-color: var(--surface0);
  color: var(--text);
  border: 3px solid var(--surface1); 
  border-radius: 3px;
}

input[type=file] {
  display: none;
}

label[for=select-what-send] {
  padding: 8px;
  background-color: var(--surface0);
  color: var(--text);
  border: 3px solid var(--surface1); 
  border-radius: 3px;
}

.send {
  background-color: var(--green);
  color: var(--base);
  font-weight: 600; 
}

.invisible-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
