.info-inline {
  margin-bottom: 32px;
  margin-top: 12px;
  text-decoration: none;
}

.info-inline * {
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500; 
}

code {
  font-family: JetBrains Mono;
  font-size: 16px;

  display: block;
  background-color: var(--surface1);
  width: calc(100% - 24px);

  padding: 12px;
  margin: 12px auto;
}

code::after {
  content: "скопировать";
  font-size: 12px;
  margin: auto;
  color: var(--subtext0);
  float: right;
  font-style: italic;
  cursor: pointer;
}
